*.log
__pycache__/
*.pyc
.venv
src/esm.egg-info
esm.egg-info
build/
dist/
esm-cleardiscoveredby.csv
namelist*.txt
test/test.db-shm
test/test.db-wal
esm-purgewipedplayfields.lst
esm-clean-removed-entites.csv
esm-cleanup-shared-folder.lst
esm-wipe-tool_*.csv
.no_git_bash_prompt
.mailmap
temp
wwwroot
